@import "./util";

#global-header {
  @include restyle(global header);
  padding: 20px;
  position: relative;
  .brand {
    @include restyle(logo) {
      vertical-align: middle;
    };
  }

  h1 {
    @include restyle(title) {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    };
  }
}

#global-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  @include small-screen {
    position: static;
  }
  li {
    float: left;
    margin-right: 20px;
    position: relative;
    &::after {
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      content: "";
      height: 0;
      margin-right: -8px;
      position: absolute;
      right: 50%;
      width: 0;
      display: block;
      bottom: -10px;
      transition: transitions(ease-in-out, default);
    }
    &:hover,
    &.current {
      &::after {
        border-bottom: 8px solid palette(canvas);
      }
    }
  }
  a {
    @include restyle(anchor in the global nav) {
      position: relative;
      bottom: -7px;
    };
  }
}

#global-footer {
  @include restyle(global footer);
  padding: 20px;
  @extend %clearfix;

  .copyright {
    display: inline-block;
    vertical-align: middle;

    .holder {
      font: 0/0 a;
      color: transparent;
      background-image: url(/images/logos/linkedin.png);
      display: inline-block;
      height: 16px;
      width: 65px;
      vertical-align: text-bottom;
      background-size: 100%;
    }
  }

  .badges {
    display: inline-block;
    float: right;
    .badge {
      @include restyle(small copy in the global footer, anchor in the global footer) {
        vertical-align: middle;
      };
    }
  }
}