@mixin small-screen($width: 800px) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin flex-reset() {
  flex: 0 1 auto;
}

@mixin visually-hidden() {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

%visually-hidden {
  @include visually-hidden;
}

%wrapper {
  max-width: 900px;
  margin: 0 auto;
  @include small-screen {
    max-width: 100%;
  }
}
