$-theme-palette: (
  brand: rgb(63, 63, 63),
  accent: (
    blue: rgb(33, 150, 243),
    purple: rgb(140, 104, 203),
    red: rgb(140, 104, 203),
    orange: rgb(236, 67, 57),
    yellow: rgb(255, 219, 90),
    teal: rgb(0, 158, 165)
  ),
  gray: (
    darkest: rgb(0, 0, 0),
    dark: rgb(35, 38, 41),
    medium-dark: rgb(48, 51, 54),
    medium: rgb(102, 102, 102),
    medium-light: rgb(230, 233, 236),
    light: rgb(240, 243, 246),
    lighter: rgb(246, 248, 250),
    lightest: rgb(255, 255, 255)
  ),
  badge: rgb(85, 85, 85),
  canvas: rgb(255, 255, 255)
);

@function palette($types...) {
  $color: $-theme-palette;
  @each $type in $types {
    $color: map-get($color, $type);
  }
  @return $color;
}
