@include restyle-define(anchor, (
  text-decoration: none,
  cursor: pointer,
  color: palette(brand),

  '@restyle.states': (
    hover: (
      color: palette(accent, blue),
      text-decoration: underline
    ),
    visited: (
      color: palette(accent, purple)
    )
  ),

  '@restyle.modifiers': (
    in footer: (
      color: palette(gray, light),
      '@restyle.states': (
        hover: (
          color: palette(gray, medium-light),
          text-decoration: none
        ),
        visited: (
          color: inherit
        )
      )
    )
  )
));
