@include restyle-define(anchor, (
  text-decoration: none,
  cursor: pointer,
  color: palette(brand),

  '@restyle.states': (
    visited: (
      color: palette(accent, purple)
    ),
    hover: (
      color: palette(accent, blue)
    )
  ),

  '@restyle.modifiers': (
    in footer: (
      color: palette(gray, light),
      '@restyle.states': (
        visited: (
          color: inherit
        ),
        hover: (
          color: palette(gray, medium-light)
        )
      )
    ),

    in nav: (
      '@restyle': extra-small headline,
      line-height: 1,
      '@restyle.states': (
        visited: (
          color: '@root.color'
        )
      )
    )
  )
));
