@include restyle-define(blockquote, (
  font-family: font-family(serif),
  background-color: palette(gray, lighter),
  color: palette(gray, medium),
  padding: 10px 20px,
  border-radius: 5px,
  margin: 10px 10px 10px 40px,
  font-style: italic,

  '&::before': (
    color: palette(gray, medium-light),
    content: "\201c",
    display: block,
    float: left,
    margin-left: -60px,
    margin-top: -20px,
    top: 0,
    font-size: 80px,
    font-style: normal
  )
));
