@include restyle-define(button, (
  '@restyle.var border-color': darken(palette(brand), 5%),

  display: inline-block,
  padding: 5px 10px,
  font-weight: normal,
  text-align: center,
  text-decoration: none,
  text-transform: uppercase,
  appearance: none,
  vertical-align: middle,
  border: 1px solid '@var.border-color',
  border-radius: 4px,
  background-color: palette(brand),
  color: palette(gray, lightest),
  cursor: pointer,

  '@restyle.states': (
    hover: (
      background-color: lighten(palette(brand), 5%),
      border-color: palette(brand),
      transition: transitions(ease-in-out, default)
    ),

    disabled: (
      border-color: '@var.border-color',
      // note that we can reference other values within the definition
      background-color: '@root.background-color',
      color: '@root.color',
      opacity: 0.8,
      cursor: default
    )
  ),

  '@restyle.modifiers': (
    secondary: (
      '@restyle.var border-color': rgba(0, 0, 0, 0.1),
      background-color: palette(gray, lighter),
      color: palette(gray, medium),

      '@restyle.states': (
        hover: (
        // TODO
          background-color: #e0e0e0,
          border-color: null,
          color: #333
        )
      )
    ),

    call-to-action: (
      '@restyle.var border-color': darken(palette(accent, purple), 5%),
      background-color: palette(accent, purple),
      color: palette(gray, lightest),

      '@restyle.states': (
        hover: (
          background-color: lighten(palette(accent, purple), 5%),
          border-color: palette(accent, purple),
          color: palette(gray, lightest)
        )
      )
    ),

    in a landing: (
      '@restyle.var border-color': palette(gray, medium),
      background-color: palette(accent, yellow),
      color: palette(gray, medium-dark),
      box-shadow: 0 4px 0 rgba(0, 0, 0, 0.4),

      '@restyle.states': (
        hover: (
          background-color: lighten(palette(accent, yellow), 5%),
          border-color: palette(gray, medium),
          color: palette(gray, medium-dark),
          box-shadow: none
        )
      )
    )
  )
));
