@include restyle-define(copy, (
  color: palette(gray, medium-dark),
  font-size: 18px,
  line-height: 1.5,
  font-family: font-family(sans-serif),

  '@restyle.modifiers': (
    in footer: (
      color: palette(gray, lightest),
      font-size: 16px
    ),
    small in footer: (
      font-size: 14px
    ),

    tiny: (
      font-size: 13px
    ),

    compact: (
      line-height: 1.1
    )
  )
));
