@include restyle-define(headline, (
  color: palette(brand),
  font-weight: bold,
  text-transform: uppercase,
  font-family: font-family(sans-serif),

  '@restyle.modifiers': (
    large: (
      padding-top: 0,
      position: relative,
      font-size: 50px,
      // add a nifty separator bar
      '&::before': (
        background-color: palette(brand),
        bottom: 12px,
        content: "",
        height: 8px,
        left: 0,
        position: absolute,
        right: 0
      )
    ),

    in a sidebar: (
      font-size: 14px,
      color: palette(gray, lightest),
      text-shadow: rgba(palette(gray, darkest), 0.2) 1px 1px
    )
  )
));
