@include restyle-define(headline, (
  color: palette(brand),
  font-weight: bold,
  text-transform: uppercase,
  font-family: font-family(sans-serif),

  '@restyle.modifiers': (
    large: (
      padding-top: 0,
      position: relative,
      font-size: 50px,
      line-height: 1.4,
      // add a nifty separator bar
      '&::after': (
        width: 100%,
        height: 8px,
        display: block,
        background-color: palette(brand),
        content: "",
        margin-top: -18px,
        position: absolute // to ensure it sits atop other content
      )
    ),
    medium: (
      font-size: 36px
    ),
    small: (
      font-size: 28px
    ),
    extra small: (
      font-size: 22px
    ),
    tiny: (
      font-size: 16px
    ),

    full-width large: (
      '&::after': (
        margin-left: calc((100% - 100vw) / 2),
        width: calc(100vw)
      )
    ),

    in a sidebar: (
      font-size: 14px,
      color: palette(gray, lightest),
      text-shadow: rgba(palette(gray, darkest), 0.2) 1px 1px
    )
  )
));
