@include restyle-define(logo, (
  background: url(/images/logos/restyle.png) no-repeat 0 0,
  background-size: 100%,
  border-radius: 5px,
  width: 96px,
  height: 37px,
  display: inline-block,
  font-size: 0,
  overflow: hidden,
  color: transparent,
  text-decoration: none,

  "@restyle.states": (
    hover: (
      transition: background-color ease-in-out 0.3s,
      background-color: palette(badge)
    )
  )
));