@include restyle-define(menu-item, (
  '@restyle.modifiers': (
    in a sidebar: (
      line-height: 2,
      color: palette(gray, light),
      display: block,
      width: 100%,
      position: relative,

      '&::after': (
        // TODO - cleanup magic numbers
        content: "",
        width: 0,
        height: 0,
        border-top: 11px solid transparent,
        border-bottom: 11px solid transparent,
        border-right: 0 solid palette(canvas),
        position: absolute,
        right: -20px,
        top: 50%,
        margin-top: -11px,
        transition: ease-in-out 0.2s
      ),

      '@restyle.states': (
        hover: (
          color: palette(gray, lightest)
        ),
        active: (
          color: palette(accent, yellow)
        ),
        hover-active: (
          '&::after' : (
            border-right-width: 11px
          )
        )
      )
    )
  )
));