@import "./theme/baseline";

/* font-family: #{font-family(sans-serif)} */

html,
body {
  @include restyle(canvas);
}

#global-header {
  @include restyle(global header);
  padding: 20px;
  position: relative;
  .brand {
    @include restyle(logo) {
      vertical-align: middle;
    };
  }

  h1 {
    @include restyle(title) {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    };
  }
}

#global-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  li {
    float: left;
    margin-right: 20px;
    position: relative;
    &::after {
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      content: "";
      height: 0;
      margin-right: -8px;
      position: absolute;
      right: 50%;
      width: 0;
      display: block;
      bottom: -10px;
      transition: ease-in-out 0.2s;
    }
    &:hover,
    &.current {
      &::after {
        border-bottom: 8px solid palette(canvas);
      }
    }
  }
  a {
    @include restyle(anchor in the global nav) {
      position: relative;
      bottom: -7px;
    };
  }
}

#global-footer {
  @include restyle(global footer);
  padding: 20px;
  overflow: hidden; // clearfix

  .copyright {
    display: inline-block;
    vertical-align: middle;
  }

  .badges {
    display: inline-block;
    float: right;
    .badge {
      font: 0/0 a;
      color: transparent;
      img {
        @include restyle(small copy in the global footer, anchor in the global footer);
        vertical-align: middle;
      }
    }
  }
}

$sidebar-width: 240px;
#global-container {
  width: 100%;
  display: flex;
  flex: 0 1 auto;
}

#global-sidebar,
#global-main {
  // use border-box so our grids work correctly
  box-sizing: border-box;
}

#global-sidebar {
  @include restyle(sidebar) {
    flex: 0 0 $sidebar-width;
    padding: 40px 20px;
  };

  a {
    @include restyle(menu-item in a sidebar);
  }

  h2 {
    @include restyle(headline in a sidebar);
  }
}

#global-main {
  flex: 0 0 100%;
  padding: 80px 20px;
}

#global-content {
  max-width: 900px;
  margin: 0 auto;

  h2 {
    @include restyle(large headline) {
      margin-bottom: 40px;
    };
    .full-width & {
      @include restyle(full-width large headline);
    }
  }

  h3 {
    @include restyle(medium headline);
  }
  h4 {
    @include restyle(small headline);
  }
  h5 {
    @include restyle(extra small headline);
  }
  h6 {
    @include restyle(tiny headline);
  }

  > p,
  > article {
    margin: 20px 0;
  }

  a {
    @include restyle(anchor);
  }

  .page-tags .tag {
    display: inline-block;
    a {
      @include restyle(tag);
    }
  }
}

#global-sidebar + #global-main {
  flex: 0 0 calc(100% - #{$sidebar-width});
}


code {
  @include restyle(code);
  pre & {
    @include restyle(block code);
  }

  h1 &,
  h2 &,
  h3 &,
  h4 &,
  h5 &,
  h6 & {
    @include restyle(code in a headline);
  }
}

blockquote {
  @include restyle(blockquote);
}

@import "../../node_modules/highlight.js/styles/tomorrow-night.css";
