@import "./theme/baseline";

/* font-family: #{font-family(sans-serif)} */

html,
body {
  @include restyle(canvas);
}

#global-header {
  @include restyle(global header);
  padding: 20px;
  .brand {
    @include restyle(logo) {
      vertical-align: middle;
    };
  }

  h1 {
    @include restyle(title) {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    };
  }
}

#global-footer {
  @include restyle(global footer);
  padding: 20px;
  overflow: hidden; // clearfix

  .copyright {
    display: inline-block;
    vertical-align: middle;
  }

  .badges {
    display: inline-block;
    vertical-align: middle;
    float: right;
    .badge {
      vertical-align: middle;
    }
  }
}

$sidebar-width: 240px;
#global-container {
  width: 100%;
  display: flex;
  flex: 0 1 auto;
}

#global-sidebar,
#global-main {
  // use border-box so our grids work correctly
  box-sizing: border-box;
}

#global-sidebar {
  @include restyle(sidebar) {
    flex: 0 0 $sidebar-width;
    padding: 40px 20px;
  };

  a {
    @include restyle(menu-item in a sidebar);
  }

  h2 {
    @include restyle(headline in a sidebar);
  }
}

#global-main {
  flex: 0 0 100%;
  padding: 80px 20px;
}

#global-content {
  max-width: 900px;
  margin: 0 auto;

  h2 {
    @include restyle(large headline) {
      margin-bottom: 40px;
    };
    .full-width & {
      @include restyle(full-width large headline);
    }
  }

  p {
    margin: 20px 0;
  }
}

#global-sidebar + #global-main {
  flex: 0 0 calc(100% - #{$sidebar-width});
}


code {
  @include restyle(code);
  pre & {
    @include restyle(block code);
  }
}

@import "../../node_modules/highlight.js/styles/tomorrow-night.css";
