@import "./theme/baseline";
@import "./shared/baseline";

@import "./shared/layout";
@import "./shared/highlight";

$sidebar-width: 240px;
#global-container {
  width: 100%;
  display: flex;
  flex: 0 1 auto;
}

#global-sidebar,
#global-main {
  // use border-box so our grids work correctly
  box-sizing: border-box;
}

#global-sidebar {
  @include restyle(sidebar) {
    flex: 0 0 $sidebar-width;
    padding: 40px 20px;
  };

  a {
    @include restyle(menu-item in a sidebar) {
      padding: 0 20px;
      margin: 0 -20px;
    };
  }

  h2 {
    @include restyle(headline in a sidebar) {
      margin-bottom: 10px;
      &:not(:first-child) {
        margin-top: 20px;
      }
    };
  }
}

#global-main {
  flex: 0 0 100%;
  padding: 80px 20px;
}

#global-content {
  max-width: 900px;
  margin: 0 auto;

  h2 {
    @include restyle(large headline) {
      margin-bottom: 40px;
    };
    .full-width & {
      @include restyle(full-width large headline);
    }
  }

  h3 {
    @include restyle(medium headline);
  }
  h4 {
    @include restyle(small headline);
  }
  h5 {
    @include restyle(extra small headline);
  }
  h6 {
    @include restyle(tiny headline);
  }

  > p,
  > article {
    margin: 20px 0;
  }

  a {
    @include restyle(anchor);
  }

  code {
    @include restyle(code);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    code {
      @include restyle(code in a headline);
    }
  }


  pre code {
    @include restyle(block code);
  }

  blockquote {
    @include restyle(blockquote) {
      > p {
        margin: 10px 0;
      }
    };

  }

  // tags
  .page-tags {
    @extend %clearfix;
    .tag {
      float: left;
      &:not(:last-child) {
        margin-right: 6px;
      }
      a {
        @include restyle(tag);
      }
    }
  }
}

// when we have a sidebar and a main, calculate the new width
#global-sidebar + #global-main {
  flex: 0 0 calc(100% - #{$sidebar-width});
}

#global-landing {
  .landing {
    @include restyle(landing);
    @include restyle(copy in a landing);

    h2 {
      @include restyle(large headline in a landing);
    }

    .call-to-action {
      @include restyle(call-to-action button in a landing);
    }
  }
}

.more-topics {
  text-align: right;
}